/* Type Selectors */

h1 {
  color: brown;
}

p {
  color: blue;
}

/* Class Selectors */

.subheadings {
  color: yellowgreen;
}

/* ID Selectors */

#ch1 {
  font-size: 50px;
}

#p1 {
  color: brown;
}

#p3 {
  color: tomato;
}

/* Universal Selector: A special case of Type selector */

* {
  color: orange;
  font-size: 12px;
}

*#ch1 {
  color: blue;
}

*.subheadings {
  color: green;
}
